
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.content1{
    background-image: url("asset/img1.jpg");
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100% ;
    min-width: 700px;
    
    
    }
            .box{
                position: relative;
                height: 100%;
                width: 100%;
                background-color: black;
                opacity: 0.8;    
                padding: 0px 0px 50px 0px; 
                
        } 
          
         nav{
                display: flex;
                max-width: 80vw;
                margin: auto;
                align-items: center;
                justify-content: space-between;
                height: 90px;
                   
            } 

                             nav img{
                                min-width: 140px;
                                position: relative;
                                z-index: 10;
                                }
                
                            nav button{
                                min-width: 102px;
                                position: relative;    
                                z-index: 10;
                            }

            .info{
                flex-direction: column;
                align-items: center;
             /*   border-style: dotted ;  */
                position: relative;
                margin: 4px;
                padding:8%;  
                color: white;      
            }
                                    .info> :nth-child(1){
                                        text-align: center;
                                        font-size: 4rem ;
                                        font-weight: 900;
                                        font-family: Arial, Helvetica, sans-serif;
                                    }

                                    .info> :nth-child(2){
                                        text-align: center;
                                        font-size: 1.5rem;
                                        font-weight: 100;
                                        font-family: Arial, Helvetica, sans-serif;
                                    }
                                    .info> :nth-child(3){
                                        text-align: center;
                                        font-size: 1.5rem;
                                        font-weight: 100;
                                        font-family: Arial, Helvetica, sans-serif;
                                        margin-bottom: 6px;
                                    }
                                                  
                                                    .btneng{
                                                        font-size: larger;
                                                        padding: 5px 14px;
                                                        border-radius: 0.2cm;
                                                        border-color: rgba(16, 15, 15, 0.176);
                                                        color: white;
                                                        background-color: rgba(149, 138, 185, 0.323);
                                                    
                                                    }
                                                    .btnsin{
                                                        border-color: rgba(255, 255, 255, 0.604);
                                                        background-color: red;
                                                        color: white;
                                                        font-size: larger;
                                                        padding: 5px 14px;
                                                        border-radius: 0.2cm;
                                                    
                                                    }
                                                    
                                                    .phinput{
                                                        display: flex;
                                                        align-items:center ;
                                                        justify-content: center; 
                                                        
                                                        gap: 13px;   
                                                    }
                                                        
                                                    
                                                    
                                                    .main input{
                                                        padding: 10px 58px 8px 10px;
                                                        color: white;
                                                        font-size: 2rem;
                                                        background-color: rgba(149, 138, 185, 0.323);
                                                        border-color: #ffffff4f;
                                                    }
                                                    .btngs{
                                                        border-color: #ffffff85;
                                                        background-color: red;
                                                        color: white;
                                                        font-size: 2rem;
                                                        padding: 10px 16px 8px 10px;
                                                        
                                                    }
.separate{
    min-width: 700px;
    height: 4px;
    background-color: rgb(69, 68, 68);

}


.content2{
    display: flex;
    justify-content: center;
   /* position: ; */
    align-items: center; 
}
.enjoy{
    height: 60vh;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    position: relative;
    padding: 15px 15px 15px 15px; 
}

.enjoy> :nth-child(1){
    font-size: 3rem ;
    font-weight: 775;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.enjoy> :nth-child(2){
    font-size: 1.2rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}

.tv{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.v1{
    display:flex;
    flex-direction:column;
    position:absolute;
    align-items: center;
    padding:14.2%;
    z-index:-1;    
} 

.content3{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 2%;
   }

   .download {
    flex-basis: 50%;
    padding: 0;
    width: 100%;
    
   }
    .download h2{
        color: white;
        font-size: 3rem ;
        font-weight: 775;
        font-family: Arial, Helvetica, sans-serif;
        }
    
    .download p{
        font-size: 1.2rem;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
       }

       
     .mobile{
       
        align-items: center;
        
        
        padding: 3%;
      
           
     }          
            
            .im1{
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                position:relative;
             /*   border-style: dotted;   */
             /*   color: aliceblue;  */     
                }

    .sdb{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        background-color: black;
        border: 2px solid rgba(128, 128, 128, 0.7);
        border-radius: 0.75rem; 
        box-shadow: 0 0 2em 0 rgb(0, 0, 0);
        height: 7rem;
        width: 53%; 
        margin-bottom: 2rem; 

    }

    .ims{
        display: flex;
        flex-direction: column;
    }

    .ims :nth-child(1){
        font-size: 1.1rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        color: white;

        
    }

    .ims :nth-child(2){
        font-size: 1.1rem;
        font-family: Arial, Helvetica, sans-serif;
        color: blue;
        
      
    }

    .im2 img{
        height: 6rem ;
        
       
        
         
    }
    
    .im3 img{
        height: 4rem;
        
       
    }
    
/*-----------Frequently asked question--------*/

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}